<div id="o-company">
    {{> Header/navbar}}

    {{!-- HEADER STARTING --}}
    <header>
        {{> Header/navbar-menu}}
        <div class="header-title">
            <div class="Ellipse1"></div>
            <div class="Ellipse2"></div>
            <h1 id="header-title">о компании</h1>
        </div>
    </header>

    {{!-- SECTION STARTING --}}
    <section>
        {{!-- MAJOR ETO Carousel about page --}}
        <div class="about-page">
            <h1 class="text-center">MAJOR - ЭТО : </h1>
            <div class="container-fluid">
                <div>
                    <div class="splide__track">
                        <div class="splide__list owl-carousel ">
                            <div class="splide__slide">
                                <h4>Клиентоориентированность</h4>
                            </div>
                            <div class="splide__slide">
                                <h4>Надёженость</h4>
                            </div>
                            <div class="splide__slide">
                                <h4>Гарантия на результат</h4>
                            </div>
                            <div class="splide__slide">
                                <h4>Качество</h4>
                            </div>
                            <div class="splide__slide">
                                <h4>Индивидуальность</h4>
                            </div>
                            <div class="splide__slide">
                                <h4>Творчество</h4>
                            </div>
                            <div class="splide__slide">
                                <h4>Доверие</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- News Card page starting --}}
        {{> Section/Page/cards}}

        {{!-- специалисты page starting --}}
        <div class="specialist">
            <h1>специалисты</h1>
            <p class="head-text">которые будут работать над вашим проектом </p>
            <div class="container-fluid">
                <div class="owl-nav-wrapper">
                    <div class="splide__track">
                        <div class="splide__list owl-carousel">
                            <div class="splide__slide">
                                <div class="box">
                                    <img  class="m-auto"src="/images/Section/чел для сайта 1 (1).png" alt=""> <br>
                                    <p>Менеджер</p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img  class="m-auto"src="/images/Section/чел для сайта 1 (1).png" alt=""> <br>
                                    <p>Веб-дизайнер</p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img  class="m-auto"src="/images/Section/чел для сайта 1 (1).png" alt=""> <br>
                                    <p>Графич. дизайнер</p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img  class="m-auto"src="/images/Section/чел для сайта 1 (1).png" alt=""> <br>
                                    <p>Программист</p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img  class="m-auto"src="/images/Section/чел для сайта 1 (1).png" alt=""> <br>
                                    <p>Маркетолог</p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img  class="m-auto"src="/images/Section/чел для сайта 1 (1).png" alt=""> <br>
                                    <p>Видеограф</p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img  class="m-auto"src="/images/Section/чел для сайта 1 (1).png" alt=""> <br>
                                    <p>Мобилограф</p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img  class="m-auto"src="/images/Section/чел для сайта 1 (1).png" alt=""> <br>
                                    <p>Модель для съёмок</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!--Nash uslugi --}}
        <div class="uslugi">
            <h1 class="title-page">что мы предлагаем</h1>
            <div class="uslugi-menu">
                <div class="container">
                    <div class="row  justify-content-center justify-content-lg-between alig-items-start">
                        <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                            <h4>Веб-разработка</h4>
                            <ul>
                                <li><a href="#">Сайт-визитка</a></li>
                                <li><a href="#">Landing page</a></li>
                                <li><a href="#">Корпоративные сайты</a></li>
                                <li><a href="#">Сайт-каталог</a></li>
                                <li><a href="#">Интернет-магазины</a></li>
                            </ul>
                        </div>
                        <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3 my-4 my-sm-0">
                            <h4>Реклама в соц. сетях</h4>
                            <ul>
                                <li><a href="#">SMM-продвижение</a></li>
                                <li><a href="#">Таргетированная реклама</a></li>
                                <li><a href="#">Реклама в Telegram-каналах</a></li>
                                <li><a href="#">Реклама в Facebook</a></li>
                                <li><a href="#">Реклама в Instagram</a></li>
                            </ul>
                        </div>
                        <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3 my-3 my-sm-5 my-md-0">
                            <h4>Бизнес-инструменты</h4>
                            <ul>
                                <li><a href="#">SMM-продвижение</a></li>
                                <li><a href="#">Таргетированная реклама</a></li>
                                <li><a href="#">Реклама в Telegram-каналах</a></li>
                                <li><a href="#">Реклама в Facebook</a></li>
                                <li><a href="#">Реклама в Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Nash klienti Page --}}
        {{> Section/Page/nashi-client}}

        {{!-- Send message --}}
        {{> Section/Page/sendMessage}}
    </section>
    

      

    {{!-- Footer Page Starting --}}
    {{> Footer/footer}}

</div>