<div id="otziv">
     {{> Header/navbar}}
      <header>
        {{> Header/navbar-menu}}
        <div class="header-title">
            <div class="Ellipse1"></div>
            <div class="Ellipse2"></div>
            <h1>отзывы клиентов</h1>
        </div>

        <div class="otziv-cards">
             <div class="container-fluid">
                <div>
                    <div class="splide__track">
                        <div class="splide__list owl-carousel">
                            <div class="splide__slide">
                                <div class="box">
                                    <img class="img-fluid" src="/images/otziv/Rectangle 75.png" alt=""> <br>
                                    <p><span>Смотреть видео</span>  <i class="bi bi-caret-right"></i> </p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img class="img-fluid" src="/images/otziv/Rectangle 65.png" alt=""> <br>
                                    <p><span>Смотреть виде</span>о <i class="bi bi-caret-right"></i> </p>
                                </div>
                            </div>
                            <div class="splide__slide">
                                <div class="box">
                                    <img class="img-fluid" src="/images/otziv/Rectangle 75.png" alt=""> <br>
                                    <p><span>Смотреть виде</span>о <i class="bi bi-caret-right"></i> </p>
                                </div>
                            </div>
                             <div class="splide__slide">
                                <div class="box">
                                    <img class="img-fluid" src="/images/otziv/Rectangle 65.png" alt=""> <br>
                                    <p><span>Смотреть видео</span>  <i class="bi bi-caret-right"></i>  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

     {{!-- Footer Page Starting --}}
    {{> Footer/footer}}

    

</div>