<div id="vakansiya">
    {{> Header/navbar}}

    {{!-- HEADER STARTING --}}
    <header>
        {{> Header/navbar-menu}}
        <div class="header-title">
            <div class="Ellipse1"></div>
            <div class="Ellipse2"></div>
            <h1 id="header-title">вакансии</h1>
            <p>Станьте частью нашей компании!</p>
        </div>
    </header>

    <section>
        <div class="vakansiya-item">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-start">
                    <div class="col-12 col-sm-11 col-xl-6 box my-3 marketolog">
                        <div class="box-title">
                            <h2>Marketolog</h2>
                        </div>
                        <div class="body-text">
                            <span>Обязанности:</span>
                            <ul>
                                <li>Разработка и реализация маркетинговых и рекламных стратегий и анализ их
                                    эффективности;</li>
                                <li>Организация рекламы и продвижение услуг сервиса;</li>
                                <li>Разработка планов рекламных мероприятий по одному виду или группе товаров (услуг) и
                                    определение бюджета на их проведение;</li>
                                <li>Оценка эффективности проведенных рекламных мероприятий;</li>
                                <li>Анализ автомобильного рынка конкурентов;</li>
                                <li>Формирование бюджета;</li>
                                <li>Аналитика рынка аналогичных услуг в отрасли;</li>
                                <li>Составление рекомендаций по повышению продаж и узнаваемости бренда.</li>
                            </ul>
                            <span>Требования:</span>
                            <ul>
                                <li>Опыт работы в сфере маркетинга от 3 лет;</li>
                                <li>Приветствуется знание Photoshop, Corel Draw или других графических редакторов;</li>
                                <li>Желательное профильное образование;</li>
                                <li>Знание специфики автомобильного рынка (крайне желательно);</li>
                                <li>Базовые знания диджитал маркетинга, копирайтинга;</li>
                                <li>Знание русского и узбекского языка.</li>
                            </ul>
                            <span>Условия :</span>
                            <ul>
                                <li>Конкурентоспособная заработная плата (обсуждается при собеседовании);</li>
                                <li>Система оплаты труда - окладно-премиальная;</li>
                                <li>график работы 6/1 с 9:00 до 17:00;</li>
                            </ul>
                        </div>
                        <button id="sendMessageBtn" onclick="sendMessageScreenShow()">Оставить контакт</button>
                    </div>
                    <div class="col-12 col-sm-11 col-xl-6 box my-3">
                        <div class="box-title">
                            <h2>Web-Designer</h2>
                        </div>
                        <div class="body-text">
                            <span>Обязанности:</span>
                            <ul>
                               <li>дизайн сайтов, блогов, логотипов, баннеров</li>
                               <li>дизайн интерфейсов и онлайн инструментов</li>
                               <li>проектирование и улучшение интерфейсов, исходя из данных аналитики и результатов тестирования</li>
                               <li>составление work flow для интерфейсов</li>
                               <li>поддержание и развитие существующих проектов</li>
                               <li>работа в команде с разработчиками, аналитиком, копирайтером</li>
                               <li>проведение A/B тестирований</li>
                            </ul>
                            <span>Требования:</span>
                            <ul>
                               <li>Figma</li>
                               <li>Adobe XD</li>
                               <li>Adobe Photoshop</li>
                               <li>Adobe Illustrator</li>
                               <li>понимание принципов UX/UI, умение проектировать многофункциональные интерфейсы.</li>
                               <li>портфолио обязательно</li>
                               <li>понимание методологии Mobile First</li>
                               <li>Intermediate English</li>
                            </ul>
                            <span>Условия :</span>
                            <ul>
                              <li>график работы 6/1 с 09:00 до 17:00</li>
                              <li>на постоянной основе</li>
                              <li>испытательный срок 2 недели</li>
                              <li>резюме+портфолио</li>
                              <li>тестовое задание</li>
                              <li>собеседование</li>
                            </ul>
                        </div>
                        <button id="sendMessageBtn" onclick="sendMessageScreenShow()">Оставить контакт</button>
                    </div>
                    <div class="col-12 col-sm-11 col-xl-6 box my-3 developer">
                        <div class="box-title">
                            <h2>Web-Developer</h2>
                        </div>
                        <div class="body-text">
                            <span> Требования:</span>
                            <ul>
                                <li>Опыт разработки веб приложений от 3-х лет</li>
                                <li>Опыт практического использования PHP, JavaScript, PHP фреймворков, JS фреймворков, MySQL, Git, Linux</li>
                                <li>Понимание и применение принципов ООП на практике</li>
                                <li>Внимание к деталям, хорошие технические и аналитические навыки</li>
                                <li>Разговорный английский язык уровня intermediate</li>
                            </ul>
                            <span>Будет плюсом:</span>
                            <ul>
                                <li>Опыт работы с AWS или другими облачными технологиями</li>
                                <li>Опыт работы с Vue.Js и TypeScript</li>
                            </ul>
                            <span>Условия работы:</span>
                            <ul>
                               <li>Оплачиваемые отпуска, больничные листы</li>
                               <li>Большой опыт работы в международной команде</li>
                               <li>Конкурентоспособная заработная плата в долларах США</li>
                               <li>Возможности для профессионального роста</li>
                               <li>Сложные и интересные задачи</li>
                            </ul>
                        </div>
                        <button id="sendMessageBtn" onclick="sendMessageScreenShow()">Оставить контакт</button>
                    </div>
                    <div class="col-12 col-sm-11 col-xl-6 box my-3 copywriter">
                        <div class="box-title">
                            <h2>Сopywriter</h2>
                        </div>
                        <div class="body-text">
                            <span>Обязанности:</span>
                            <ul>
                                <li>Разработка и реализация маркетинговых и рекламных стратегий и анализ их
                                    эффективности;</li>
                                <li>Организация рекламы и продвижение услуг сервиса;</li>
                                <li>Разработка планов рекламных мероприятий по одному виду или группе товаров (услуг) и
                                    определение бюджета на их проведение;</li>
                                <li>Оценка эффективности проведенных рекламных мероприятий;</li>
                                <li>Анализ автомобильного рынка конкурентов;</li>
                                <li>Формирование бюджета;</li>
                                <li>Аналитика рынка аналогичных услуг в отрасли;</li>
                                <li>Составление рекомендаций по повышению продаж и узнаваемости бренда.</li>
                            </ul>
                            <span>Требования:</span>
                            <ul>
                                <li>Опыт работы в сфере маркетинга от 3 лет;</li>
                                <li>Приветствуется знание Photoshop, Corel Draw или других графических редакторов;</li>
                                <li>Желательное профильное образование;</li>
                                <li>Знание специфики автомобильного рынка (крайне желательно);</li>
                                <li>Базовые знания диджитал маркетинга, копирайтинга;</li>
                                <li>Знание русского и узбекского языка.</li>
                            </ul>
                            <span>Условия :</span>
                            <ul>
                                <li>Конкурентоспособная заработная плата (обсуждается при собеседовании);</li>
                                <li>Система оплаты труда - окладно-премиальная;</li>
                                <li>график работы 6/1 с 9:00 до 17:00;</li>
                            </ul>
                        </div>
                        <button id="sendMessageBtn" onclick="sendMessageScreenShow()">Оставить контакт</button>
                    </div>
                </div>
            </div>
        </div>






    </section>

    {{!-- Footer Page Starting --}}
    {{> Footer/footer}}
</div>