{{!-- CARDS MAJOR --}}
    <div class="news-card">
        <div class="container news-card-container ">
        <div class="Ellipse3"></div>
            <div class="row">
                <div class="col-11 m-auto col-sm-12 cards">
                    <h4 class="card-title">major media agency -</h4>
                    <p class="card-text">
                        Это компания, которая поможет Вам увеличить показатели LTV и ROI, предлагая умные и креативные
                        подходы в соответствии с вашими целями, KPLs, и стратегический план
                    </p>
                </div>
            </div>
        </div>
    </div>