{{!-- НАШИ КЛИЕНТЫ --}}
{{!-- Carousel Page --}}
<div class="nashi-klient">
<h1 class="title-page">НАШИ КЛИЕНТЫ</h1>
    <div class="container-fluid">
        <div >
        <div class="splide__track">
            <div class="splide__list owl-carousel">
                    <div class="image center ">
                        <img class="img-fluid" src="/images/Carousel Img/image 11.png" alt="">
                </div>
                    <div class="image center ">
                        <img class="img-fluid" src="/images/Carousel Img/image 6.png" alt="">
                </div>
                    <div class="image center ">
                        <img class="img-fluid" src="/images/Carousel Img/image 8.png" alt="">
                </div>
                    <div class="image center ">
                        <img class="img-fluid" src="/images/Carousel Img/image 9.png" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>