{{!-- НАШИ КЛИЕНТЫ --}}
{{!-- Carousel Page --}}
<div class="nashi-klient">
<h1 class="title-page">НАШИ КЛИЕНТЫ</h1>
    <div class="container-fluid">
        <div >
        <div class="splide__track">
            <div class="splide__list owl-carousel">
                {{#each nashClientData}}
                    <div class="image center ">
                    <img class="img-fluid" src="/images/{{this.img}}" alt="{{this._id}}">
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    </div>
</div>