<div class="sendMessage">
    <div class="Ellipse22"></div>
    <div class="container-fluid px-0 px-sm-inherit container-sm">
        <div class="wrapper">
            <h3> Поговорите с экспертом </h3>
            <p>Нужна консультация? Оставьте заявку <br> и наш менеджер свяжется с Вами в ближайшее время</p>
            <form action="" method="POST" class="m-auto ">
                <input type="text"   class="formatMaskNumber mb-3" name=""  placeholder="+998">
                <button type="submit">Оставить заявку</button>  
            </form>
        </div>
    </div>
</div>