<div id="header">
 {{> Header/navbar-menu}}
 
  <div class="container header-title">
    <div class="Ellipse1"></div>
    <div class="Ellipse2"></div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <h1 class="text-start">Медиа - <br /> агенство</h1>
        <p>Комплексное продвижение Вашего бизнеса в Узбекситане</p>
        <button id="sendMessageBtn"><a href="/o-company">
            О компании
          </a></button>
      </div>
    </div>


  </div>
 
</div>
